<div class="w-full">
    <section class="w-full h-auto bg-[#264486] flex items-center justify-center lg:h-[60vh]">
        <div class="lg:w-3/4 px-20 flex flex-col sm:flex-col md:flex-row md:w-full lg:h-full lg:flex-row">

            <article class="w-2/4 text-white flex flex-col items-center justify-center">
                <header class="flex flex-col">
                    <h2 class="text-3xl font-light">Descubre tu estilo</h2>
                    <h1 class="text-5xl font-semibold mt-2 leading-tight">Compra las últimas tendencias ahora</h1>
                    <a href="#" class="bg-white w-fit text-[#264486] px-5 py-2 rounded-full border-2 font-bold mt-10 hover:bg-[#264486] hover:text-white 
                        hover:border-2">
                        Descubre Modas
                    </a>
                </header>
            </article>

            <figure class="w-2/4 flex items-center justify-center">
                <img class="h-full object-contain" [src]="'assets/img/modelo2.png'" alt="modelo vistiendo ropa de moda">
            </figure>

        </div>
    </section>

    <!-- <section class="w-full flex justify-around py-10">
        <article
            class="w-[47%] flex justify-around text-[#4f4f4f] bg-[#BADCF5] rounded-lg p-4 transition duration-300 ease-in-out hover:bg-[#33aaff] hover:text-white  hover:scale-105 ">
            <div class="w-[40%] flex justify-center items-center">
                <div class="flex flex-col">
                    <span class="text-2xl font-semibold ">Renueva tu estilo:</span>
                    <span class="text-3xl font-semibold">Descubre moda masculina diseñada para cada ocasión.</span>
                </div>
            </div>
            <figure class="w-1/2">
                <img [src]="'assets/img/card-men.png'" alt="">
            </figure>
        </article>
        <article
            class="w-[47%] flex justify-around bg-[#F4B9E3] text-[#4f4f4f]  hover:bg-[#ff75d8]  hover:text-white transition duration-300 ease-in-out hover:scale-105 rounded-lg p-4">
            <div class="w-[40%] flex justify-center items-center">
                <div class="flex flex-col ">
                    <span class="text-2xl font-semibold ">Exprésate con estilo:</span>
                    <span class="text-3xl font-semibold">Prendas que realzan tu estilo y te acompañan en cada momento.</span>
                </div>
            </div>
            <figure class="w-1/2">
                <img class="max-h-72" [src]="'assets/img/card-men.png'" alt="">
            </figure>
        </article>
    </section> -->

    <section class="w-full flex items-center justify-center py-10">
        <article class="w-11/12 flex flex-col">
            <span class="text-3xl font-medium pb-10">{{"categorías"|uppercase}}</span>
            <div class="w-full flex justify-between">
                <div *ngFor="let product of categories">
                    <div class="h-52 w-52 bg-gray-200 rounded-full flex items-center justify-center">
                        <img [src]="product.image" alt="" class="max-h-40 max-w-40">
                    </div>
                    <div class=" mx-auto mt-[-20px] w-fit bg-[#264486] text-white px-10 py-5 text-center rounded-full">
                        {{product.name}}</div>
                </div>
            </div>


        </article>
    </section>
</div>