<div class="w-full h-96 bg-[#264486] flex items-center justify-center">
    <div class="w-3/4 h-full flex px-20">
        <div class="w-2/4 text-white flex flex-col items-center justify-center">
            <div class="flex flex-col">
                <span class="text-3xl font-light">Descubre tu estilo</span>
                <span class="text-5xl font-semibold mt-2 leading-tight">Compra las últimas tendencias ahora</span>
                <a class="bg-white w-fit text-[#264486] px-5 py-2 rounded-full font-bold mt-10">Descubre Modas</a>
            </div>
        </div>
        <div class="w-2/4 flex items-center justify-center">
            <img class="scale-110 h-5/6" [src]="'assets/img/modelo.png'" alt="modelo">
        </div>
    </div>

</div>