<div class="flex h-full flex-row">
    <app-sidebar></app-sidebar>
    <div class="flex h-full w-full flex-col">
        <app-navbar></app-navbar>
        <div class="bg-gray-100 h-full w-full py-4 px-10">
            <div class="p-10 overflow-y-auto max-h-[80vh]"> <!-- Aquí agregamos overflow-y-auto y max-height -->
                <form [formGroup]="productForm" class="flex flex-col">
                    <div class="flex justify-between">
                        <!-- Columna izquierda -->
                        <div class="w-[47%] flex flex-col gap-y-4">
                            <label class="flex flex-col">
                                <span class="font-bold">Nombre del Producto</span>
                                <input type="text" formControlName="name"
                                    class="border border-[#414141] h-8 rounded-md px-2 focus:outline-none focus:ring focus:border-blue-700" />
                            </label>
                            <label class="flex flex-col">
                                <span class="font-bold">Descripción del Producto</span>
                                <input type="text" formControlName="description"
                                    class="border border-[#414141] h-8 rounded-md px-2 focus:outline-none focus:ring focus:border-blue-700" />
                            </label>
                            <label class="flex flex-col">
                                <span class="font-bold">Precio</span>
                                <input type="text" formControlName="price"
                                    class="border border-[#414141] h-8 rounded-md px-2 focus:outline-none focus:ring focus:border-blue-700" />
                            </label>
                            <label class="flex flex-col">
                                <span class="font-bold">Sexo</span>
                                <div class="flex gap-4">
                                    <label *ngFor="let gender of genders" class="flex items-center gap-2">
                                        <input type="radio" [value]="gender.name" formControlName="gender" />
                                        <span>{{ gender.value }}</span>
                                    </label>
                                </div>
                            </label>
                            <label class="flex flex-col">
                                <span class="font-bold">Categoría a la que pertenece este producto</span>
                                <p-dropdown formControlName="category" [checkmark]="true" [showClear]="true"
                                    [options]="categories" optionLabel="name" placeholder="Selecciona la categoría"
                                    class="w-full"></p-dropdown>
                            </label>
                            <div class="flex items-center gap-4">
                                <label class="flex flex-col">
                                    <span class="font-bold">Color</span>
                                    <p-dropdown formControlName="color" [checkmark]="true" [showClear]="true"
                                        [options]="colors" optionLabel="colorName" placeholder="Selecciona el color"
                                        class="w-full"></p-dropdown>
                                </label>
                                <button type="button" (click)="showDialog()"
                                    class="bg-green-600 rounded-full text-white px-4 py-2">
                                    Agregar Nuevo Color
                                </button>
                            </div>
                            <div class="flex items-center gap-4">
                                <label class="flex flex-col">
                                    <span class="font-bold">Talla</span>
                                    <p-dropdown formControlName="size" [checkmark]="true" [showClear]="true"
                                        [options]="sizes" optionLabel="sizeName" placeholder="Selecciona la talla"
                                        class="w-full"></p-dropdown>
                                </label>
                                <button type="button" (click)="showDialog1()"
                                    class="bg-green-600 rounded-full text-white px-4 py-2">
                                    Agregar Nueva Talla
                                </button>
                            </div>
                            <label class="flex flex-col">
                                <span class="font-bold">Stock</span>
                                <input type="text" formControlName="stock"
                                    class="border border-[#414141] h-8 rounded-md px-2 focus:outline-none focus:ring focus:border-blue-700" />
                            </label>
                        </div>
                        <!-- Columna derecha -->
                        <div class="w-[47%]">
                            <span class="font-bold">Elige una imagen para el producto</span>
                            <div class="mt-2">
                                <input type="file" id="imageUpload" accept="image/*" (change)="onImageSelect($event)"
                                    name="image" class="hidden" />
                                <label for="imageUpload"
                                    class="cursor-pointer bg-blue-500 text-white rounded-lg px-4 py-2">
                                    Subir Imagen
                                </label>
                            </div>
                            <div class="mt-4" *ngIf="selectedImage">
                                <p class="text-sm font-semibold">Vista Previa:</p>
                                <img [src]="selectedImage" alt="Preview"
                                    class="w-24 h-24 object-cover mt-2 rounded border border-gray-300" />
                            </div>
                        </div>

                    </div>
                    <button type="button" (click)="saveProduct()"
                        class="bg-blue-500 text-white rounded-lg px-4 w-1/3 mx-auto mt-4 h-10 text-2xl">
                        Guardar Producto
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Diálogo para agregar color -->
<p-dialog header="Agregar un nuevo color" [modal]="true" [(visible)]="visible" [style]="{ width: '35rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <form [formGroup]="colorForm" class="flex flex-col gap-y-4">
        <div class="flex gap-4">
            <label class="flex flex-col w-3/4">
                <span class="font-bold">Nombre del Color</span>
                <input type="text" formControlName="colorName"
                    class="border border-[#414141] h-8 rounded-md px-2 focus:outline-none focus:ring focus:border-blue-700" />
            </label>
            <label class="flex flex-col w-1/4">
                <span class="font-bold">Elige el Color</span>
                <input type="color" formControlName="hex"
                    class="h-8 rounded-md focus:outline-none focus:ring focus:border-blue-700" />
            </label>
        </div>
        <button type="button" class="bg-blue-500 rounded-xl text-white px-6 py-1" (click)="saveColor()">
            Guardar
        </button>
    </form>
</p-dialog>

<!-- Diálogo para agregar talla -->
<p-dialog header="Agregar una nueva talla" [modal]="true" [(visible)]="visible1" [style]="{ width: '35rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <form [formGroup]="sizeForm" class="flex flex-col gap-y-4">
        <label class="flex flex-col">
            <span class="font-bold">Nombre de la Talla</span>
            <input type="text" formControlName="sizeName"
                class="border border-[#414141] h-8 rounded-md px-2 focus:outline-none focus:ring focus:border-blue-700" />
        </label>
        <button type="button" class="bg-blue-500 rounded-xl text-white px-6 py-1" (click)="saveSize()">
            Guardar
        </button>
    </form>
</p-dialog>