<section class="h-screen w-full flex">
    <!-- <div class="w-[15%] h-full  flex flex-col items-center justify-center p-2">
        <div class="h-4/6 flex flex-col justify-around">
            <div class="shadow-xl rounded-xl">
                <img [src]="'assets/img/products/product4.webp'" alt="" class="h-32">
            </div>
            <div class="shadow-xl rounded-xl">
                <img [src]="'assets/img/products/product4.webp'" alt="" class="h-32">
            </div>
            <div class="shadow-xl rounded-xl">
                <img [src]="'assets/img/products/product4.webp'" alt="" class="h-32">
            </div>
        </div>
    </div> -->
    <div class="w-[45%] h-ful flex items-center justify-center">
        <img [src]="product.image" alt="">
    </div>
    <div class="w-[45%] h-full flex items-center">
        <div class="w-full h-[70%] px-10 flex flex-col gap-y-5">
            <h1 class="text-3xl">{{product.name}}</h1>
            <span class="text-lg text-[#585858]">{{product.description}}</span>
            <span class="text-xl">${{product.price}}</span>
            <div class="w-full">
                <div class="flex flex-col w-1/4">
                    <span class="text-xl">Colores</span>
                    <div class="flex">
                        <div *ngFor="let variant of variants"
                            class="mr-4 border p-1 rounded-full transition duration-200 ease-in-out cursor-pointer hover:border-black"
                            [ngClass]="{'selected-color': selectedColor?.id === variant.color.id}"
                            (click)="selectColor(variant.color)">

                            <!-- Verifica que el colorHex esté correctamente definido -->
                            <div class="h-8 w-8 rounded-full" [style.background-color]="variant.color?.hex || '#ccc'">
                            </div>
                        </div>
                    </div>


                </div>
                <span class="text-red-500" *ngIf="showColorError">Debes de seleccionar un color</span>
            </div>

            <div class="flex flex-col">
                <span class="text-xl">Tallas</span>
                <div class="flex w-[33%]">
                    <div *ngFor="let size of getUniqueSizes()"
                        class="mr-4 border border-[#264486] px-5 py-1 cursor-pointer transition duration-200 ease-in-out hover:bg-[#264486] hover:text-white"
                        [ngClass]="{'selected': selectedSize === size}" (click)="selectSize(size)">
                        {{ size.sizeName }}
                    </div>
                </div>
                <span class="text-red-500" *ngIf="showSizeError">Debes de seleccionar una talla</span>
            </div>
            
            <p-toast></p-toast>

            <div>
                <!-- Aquí tu botón de agregar al carrito -->
                <button class="w-full bg-[#264486] rounded-md text-white text-lg py-1" (click)="addToCart(product)">
                    Agregar al carrito
                    <mat-icon class="align-middle scale-75">shopping_cart</mat-icon>
                </button>
            </div>
            <button class="w-full border border-[#264486] rounded-md text-lg py-1 flex justify-center items-center">
                Agregar a favoritos
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5  ml-2" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                </svg>
            </button>



        </div>
    </div>
</section>