<section class="h-screen w-full flex">
    <div class="w-[15%] h-full  flex flex-col items-center justify-center p-2">
        <div class="h-4/6 flex flex-col justify-around">
            <div class="shadow-xl rounded-xl">
                <img [src]="'assets/img/products/product4.webp'" alt="" class="h-32">
            </div>
            <div class="shadow-xl rounded-xl">
                <img [src]="'assets/img/products/product4.webp'" alt="" class="h-32">
            </div>
            <div class="shadow-xl rounded-xl">
                <img [src]="'assets/img/products/product4.webp'" alt="" class="h-32">
            </div>
        </div>
    </div>
    <div class="w-[40%] h-ful flex items-center justify-center">
        <img [src]="product.image" alt="">
    </div>
    <div class="w-[45%] h-full flex items-center">
        <div class="w-full h-[70%] p-10">
            <h1 class="text-3xl">{{product.name}}</h1>
            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam accusamus ducimus sunt suscipit vitae voluptatibus enim iste odit sint, veniam nostrum modi repellendus ipsa voluptatum quidem ad blanditiis. Mollitia, laboriosam?</span>
        </div>
    </div>
</section>