/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.p-carousel-items-content{
    padding-top: 10px !important;
    padding-left: 8px !important;
}


.p-carousel-container button {
    background-color: lightgray;
    /* margin-left: 10px;
    margin-right: 10px; */
}


.p-stepper .p-stepper-header .p-stepper-action {
    background-color: #ffffff00;
}

.p-fileupload .p-button {
    padding: 0.2rem 0.5rem !important;
}

.p-fileupload-content{
    border-radius: 20px;
    border: 3px dashed  rgb(161, 161, 161);
}

.creditNumber {
    margin-left: 10px;
    width: 90% !important;
}

.cvv, .date{
    border: 1px solid black;
    width: 100% !important;
}