<div class="w-full min-h-[90%]">
    <div class="relative ">
        <div class="absolute inset-0 flex items-center justify-center text-white font-bold text-5xl drop-shadow-2xl	">
            ¡Descubre nuestros nuevos productos para hombres!
        </div>
        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_1349,c_limit/9a596369-6f37-4324-abad-e68ef16f7e2c/calzado-vestimenta-y-accesorios-para-hombre.png"
            alt="">
    </div>
    <div class="pt-10 px-10 bg-gray-100">
        <span class="text-3xl font-medium">
            Explora nuestra colección de productos para hombres
        </span>
    </div>
    <!-- sección de productos (playeras)-->
    <section class="w-full flex flex-col items-center justify-center bg-gray-100 text-center pt-20 pb-10 px-10 ">
        <span class="text-4xl font-medium mb-5">{{"nuestras mejores colecciones"|uppercase}}</span>
        <div class="w-full flex justify-end mb-6 2xl:w-9/12">
            <button
                class="text-black border border-[#264486] px-6 py-2 rounded-full hover:bg-[#264486] hover:text-white transition">
                Ver todo
            </button>
        </div>
        <div class="w-full flex flex-col  2xl:w-9/12">
            <app-carrusel [items]="shirtList">
            </app-carrusel>
        </div>

    </section>

    <!-- sección de productos (Pantalones)-->
    <section class="w-full flex flex-col items-center justify-center bg-gray-100 text-center pt-10 pb-10 px-10 ">
        <span class="text-4xl font-medium mb-5">{{"Ultimo en moda en pantalones"|uppercase}}</span>
        <div class="w-full flex justify-end mb-6 2xl:w-9/12">
            <button
                class="text-black border border-[#264486] px-6 py-2 rounded-full hover:bg-[#264486] hover:text-white transition">
                Ver todo
            </button>
        </div>
        <div class="w-full flex flex-col  2xl:w-9/12">
            <app-carrusel [items]="pantsList">
            </app-carrusel>
        </div>

    </section>

    <!-- sección de productos (sudaderas)-->
    <section class="w-full flex flex-col items-center justify-center bg-gray-100 text-center pt-10 pb-10 px-10 ">
        <span class="text-4xl font-medium mb-5">{{"Para esta época de frío las mejores sudaderas"|uppercase}}</span>
        <div class="w-full flex justify-end mb-6 2xl:w-9/12">
            <button
                class="text-black border border-[#264486] px-6 py-2 rounded-full hover:bg-[#264486] hover:text-white transition">
                Ver todo
            </button>
        </div>
        <div class="w-full flex flex-col  2xl:w-9/12">
            <app-carrusel [items]="hoodieList">
            </app-carrusel>
        </div>

    </section>
    <!-- sección de productos (tenis)-->
    <section class="w-full flex flex-col items-center justify-center bg-gray-100 text-center pt-10 pb-10 px-10 ">
        <span class="text-4xl font-medium mb-5">{{"Lo mejor en Tenis"|uppercase}}</span>
        <div class="w-full flex justify-end mb-6 2xl:w-9/12">
            <button
                class="text-black border border-[#264486] px-6 py-2 rounded-full hover:bg-[#264486] hover:text-white transition">
                Ver todo
            </button>
        </div>
        <div class="w-full flex flex-col  2xl:w-9/12">
            <app-carrusel [items]="sneakerList">
            </app-carrusel>
        </div>

    </section>

    <!-- sección de productos (shorts)-->
    <section class="w-full flex flex-col items-center justify-center bg-gray-100 text-center pt-10 pb-10 px-10 ">
        <span class="text-4xl font-medium mb-5">{{"Shorts para el verano"|uppercase}}</span>
        <div class="w-full flex justify-end mb-6 2xl:w-9/12">
            <button
                class="text-black border border-[#264486] px-6 py-2 rounded-full hover:bg-[#264486] hover:text-white transition">
                Ver todo
            </button>
        </div>
        <div class="w-full flex flex-col  2xl:w-9/12">
            <app-carrusel [items]="shortList">
            </app-carrusel>
        </div>
    </section>

    <!-- sección de productos (vestidos)-->
    <section class="w-full flex flex-col items-center justify-center bg-gray-100 text-center pt-10 pb-10 px-10 ">
        <span class="text-4xl font-medium mb-5">{{"Vestidos para cualquier ocasión"|uppercase}}</span>
        <div class="w-full flex justify-end mb-6 2xl:w-9/12">
            <button
                class="text-black border border-[#264486] px-6 py-2 rounded-full hover:bg-[#264486] hover:text-white transition">
                Ver todo
            </button>
        </div>
        <div class="w-full flex flex-col  2xl:w-9/12">
            <app-carrusel [items]="dressList">
            </app-carrusel>
        </div>
    </section>


</div>
