<div class="relative">
    <!-- Botón izquierdo -->
    <!-- Este botón permite desplazar el contenedor hacia la izquierda -->
    <button (click)="moveScroll(-1)"
        class="button absolute left-0 top-1/2 transform -translate-y-1/2 bg-[#292929de] text-white p-2 shadow-lg z-10">
        <!-- Icono del botón utilizando Material Icons -->
        <mat-icon>chevron_left</mat-icon>
    </button>

    <!-- Contenedor principal con desplazamiento horizontal habilitado -->
     <!-- p-10 py-10 px-10 mx my -->
    <div class="overflow-x-auto py-4" #scrollContainer> 
        <!-- Contenedor de las tarjetas con espaciado horizontal entre ellas -->
        <div class="flex space-x-4 px-4">
            <!-- Directiva *ngFor para iterar sobre el arreglo 'items' y generar una tarjeta por cada elemento -->
            <div *ngFor="let card of items"
                class="flex justify-center items-center flex-col flex-shrink-0 cursor-pointer w-[18rem] bg-[#E8E8E8] rounded-lg shadow-md hover:scale-105 transition-transform duration-300 pt-2">
                <!-- Imagen del producto -->
                <!-- Se utiliza binding para asignar dinámicamente la URL de la imagen y el texto alternativo -->
                <img class="w-full max-h-64 rounded-t-lg" [src]="card.image" [alt]="card.name"
                    (click)="navigateToProduct(card)">
                <!-- Contenedor de texto e información del producto -->
                <div class="p-2 text-start bg-white w-full rounded-lg px-7" (click)="navigateToProduct(card)">
                    <!-- Nombre del producto -->
                    <h3 class="text-xl font-medium">{{ card.name }}</h3>

                    <!-- Descripción del producto -->
                    <!-- Si la longitud de la descripción es mayor a 50 caracteres, se trunca y se añade '...' -->
                    <h3 class="text-base font-light">
                        {{ card.description.length > 50 ? (card.description | slice:0:55) + '...' : card.description }}
                    </h3>

                    <!-- Precio del producto -->
                    <p class="text-gray-600">${{ card.price }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Botón derecho -->
    <!-- Este botón permite desplazar el contenedor hacia la derecha -->
    <button (click)="moveScroll(1)"
        class="button absolute right-0 top-1/2 transform -translate-y-1/2 bg-[#292929de] text-white p-2 shadow-lg z-10">
        <!-- Icono del botón utilizando Material Icons -->
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>
