<div class="relative">
    <!-- Botón izquierdo -->
    <button (click)="moveScroll(-1)" class="button absolute left-0 top-1/2 transform -translate-y-1/2 bg-[#292929de] text-white p-2 shadow-lg z-10">
        <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="overflow-x-auto py-4" #scrollContainer>
        <div class="flex space-x-4 px-4">
            <div *ngFor="let card of items" (click)="navigateToProduct(card)"
                class="flex justify-center items-center flex-col flex-shrink-0 w-[18rem] bg-[#E8E8E8] border rounded-lg shadow-md hover:scale-105 transition-transform duration-300 py-2">
                <div class="w-full flex justify-end">
                    <button class="bg-white rounded-full h-10 w-10"> <mat-icon class="align-middle">add_shopping_cart</mat-icon> </button>
                </div>
                <img class="w-full max-h-64 rounded-t-lg" [src]="'assets/img/products/product4.webp'"
                    [alt]="card.name">
                <div class="p-2 text-start bg-white w-11/12 rounded-xl px-7">
                    <h3 class="text-xl font-medium">{{ card.name }}</h3>
                    <p class="text-gray-600">${{ card.price }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Botón derecho -->
    <button (click)="moveScroll(1)" class="button absolute right-0 top-1/2 transform -translate-y-1/2 bg-[#292929de] text-white p-2 shadow-lg z-10">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>
