<footer class="bg-[#14203D] w-full text-white px-32 py-8 flex items-start justify-between mt-32">
    <div class="flex flex-col">
        <span class="text-xl font-semibold">
            Ayuda y Soporte
        </span>
        <a href="#" class="font-light">Contactanos</a>
        <a href="#" class="font-light">Tu cuenta</a>
        <a href="#" class="font-light">Mis ordenes</a>
        <a href="#" class="font-light">Preguntas frecuentes</a>
    </div>
    <div class="flex flex-col">
        <span class="text-xl font-semibold">
            Información
        </span>
        <a href="#" class="font-light">Avisos de Privacidad</a>
        <a href="#" class="font-light">Terminos y condiciones</a>
    </div>
    <div class="flex flex-col">
        <span class="text-xl font-semibold">
            Descubre
        </span>
        <a href="#" class="font-light">Zapatos</a>
        <a href="#" class="font-light">Playeras</a>
        <a href="#" class="font-light">Bolsas</a>
        <a href="#" class="font-light">Shorts</a>
    </div>
</footer>